.master-container {
	height: 98vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	margin-bottom: 20px;
}
.phone-anchor {
	position: relative;
	top: 10%;
}
.roulette {
	position: absolute;
	z-index: 10;
	right: 60px;
	top: 28px;
}
.phone {
	position: relative;
	margin-top: -13%;
	/* left: 40%; */
}
.master-form-container {
	display: flex;
	/* width: 33%; */
	max-width: 350px;
	min-height: 450px;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
	border: solid 1px rgb(219, 219, 219);
	/* padding-bottom: 10px; */
}

.verification-form-input {
	height: 36px;
	width: 266px;
	box-sizing: border-box;
	border-radius: 3px;
	background-color: #fafafa;
	fill: #262626;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 24px;
	border: solid 1px rgb(219, 219, 219);
	color: rgb(38, 38, 38);
	font-size: 14px;
}

.submit-btn {
	all: none;
	height: 30px;
	width: 266px;
	border: none;
	color: rgb(255, 255, 255);
	/* background-color: rgba(0,149,246,0.3);
     */
	background-color: rgb(0, 149, 246);
	border-radius: 4px;
	box-sizing: border-box;
	line-height: 18px;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
}

.submit-btn:active {
	background-color: rgb(103, 181, 250);
}

.submit-btn.disabled {
	background-color: rgb(192, 223, 253);
	color: rgb(255, 255, 255);
}

.demo {
	margin-top: 10px;
}
.lrg-logo-container {
	margin-bottom: 20px;
	margin-top: 36px;
}

.or-container {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.line {
	border: solid 0.5px rgb(237, 237, 237);
	width: 40%;
	height: 0.001px;
}

.or {
	font-size: 14px;
	font-weight: 400;
	color: #8e8e8e;
}

.switch-method-sign-up {
	border: solid 1px rgb(219, 219, 219);
	height: 63px;
	width: 348px;
	box-sizing: border-box;
	padding: 0px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin-top: 30px; */
	position: relative;
	top: 80px;
	background-color: rgb(255, 255, 255);
}
.switch-method {
	border: solid 1px rgb(219, 219, 219);
	height: 63px;
	width: 348px;
	box-sizing: border-box;
	padding: 0px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin-top: 30px; */
	position: relative;
	top: 20px;
	background-color: rgb(255, 255, 255);
}

.switch-method-content {
	font-size: 14px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.switch-method-lnk {
	color: #0095f6;
	font-weight: 600;
}


.signup-error-text {
	max-height: fit-content;
	color: red;
	width: 200px;

	/* overflow-wrap:normal; */
	/* display: flex; */
	/* align-items: center; */
	justify-content: left;
	margin: 2% 0 2% 0;
	text-transform: capitalize;
}
.login-error-text {
	/* background-color: blue; */
	color: red;
	display: flex;
	align-items: center;
	justify-content: left;
	margin: 2%;
	text-transform: capitalize;
}

.error-field {
	justify-content: left;
	width: 130%;
}


.login-logo{
	width: 175px;
	
}
