.nav-bar-container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: rgba(219, 219, 219) 1px solid ;
    color: rgb(38, 38, 38);
}
.nav-bar-logo-container {
    display: inline-block;
    width: fit-content;
}
.nav-bar {
    display: flex;
    flex-flow: row;
}
.logo {
    display: inline-block;
    width: 6.438rem;
    height: 1.813rem;
}
.nav-bar-li {
    list-style: none;

}

.nav-bar-link {
    text-decoration: none;
}
